# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# dependencies
node_modules

# local
db.json

# production
dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.env
.env.production